 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;

 }

 .initial {
   background-color: #06204C;
   height: 6.5em;
   width: 100%;
   display: flex;
 }

 .logo {
   height: 6.313em;
   width: 10.813em;
 }

 .menuhome {
   transition-duration: 0.3s;
   cursor: pointer;
   color: white;
   background-color: #f4f4f436;
   border-style: solid;
   border-color: #f4f4f4ef;
   border-radius: 3.125em 0em 0em 3.125em;
   width: 11em;
   margin-left: 30%;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-right: 1em;
   font-family: 'Bubblegum Sans';
   font-size: 1.2em;
   font-weight: lighter;
   letter-spacing: 0.1em;
 }

 .menuhome:hover {
   background-color: #2ED1E7;
   box-shadow: 0 1em 1em 0 #9CD9F3, 0 17px 50px 0 #9CD9F3;
 }

 .menuapp {
   background-color: #f4f4f436;
   border-style: solid;
   border-color: #f4f4f4ef;
   color: white;
   width: 11em;
   margin-top: 2%;
   margin-bottom: 2%;
   font-family: 'Bubblegum Sans';
   font-size: 1.2em;
   font-weight: lighter;
   letter-spacing: 0.1em;
 }

 .menuapp:hover {
   background-color: #2ED1E7;
   box-shadow: 0 1em 1em 0 #9CD9F3, 0 17px 50px 0 #9CD9F3;
 }

 .menuj {
   background-color: #f4f4f436;
   border-style: solid;
   border-color: #f4f4f4ef;
   color: white;
   border-radius: 0em 3.125em 3.125em 0em;
   width: 11em;
   margin-left: 1em;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-right: 1em;
   font-family: 'Bubblegum Sans';
   font-size: 1.2em;
   font-weight: lighter;
   letter-spacing: 0.1em;
 }

 .menuj:hover {
   background-color: #2ED1E7;
   box-shadow: 0 1em 1em 0 #9CD9F3, 0 17px 50px 0 #9CD9F3;
 }

 .sectionOne{
  background-image: url(imagenes/Fondo.png);
  height: 120vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
 }
 .sectionTwo{
   background-color: #2ed1e750;
 }


#card{
  background-image: url(/imagenes/fondoCard.jpg);
  background-size:cover;
  height: 19.5em;
  font-family: "Nunito";
}
 
 #rowCard{ 
   margin: 2em;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 12em 12em 12em 12em ;
  grid-row-gap: 2em;
 
  justify-content:space-evenly;
  
  
}

 .welcome {
   position: absolute;
   top: 3%;
   left: 30%;
   right: 30%;
   font-family: 'Bubblegum Sans';
   line-height: 0.8;
   font-weight: lighter;
   font-size: 4rem;
   text-align: center;
   color: #06204C;
   margin-top: 0.8em;
 }
 .description {
   position: absolute;
   top: 38%;
   left: 30%;
   right: 28%;
   font-family: "Nunito";
   font-size: 1.5em;
   color: #061D2A;
   text-align: center;
   background-color: #96c9de94;
   filter: blur(1.5 rem);
   border-radius: 40px;
   box-shadow: 0 0 20px 8px #96c9de9a;
 }
 footer{
   display:grid;
 }

 .foot {
   margin-left: 1em;
   font-size: 1em;
   font-family: 'Bubblegum Sans';
   color: #06204C;
 }

 .networks {
   display: flex;
   width: 1em;
   height: 2em;
   margin-left: 1em;
 }

 .pokeball {
   position: absolute;
   top: 75%;
   left: 46%;
   height: 7em;
   width: 7em;
 }

 .list {
   top: 20%;
   left: 15%;
   right: 15%;
   font-family: 'Nunito';
   font-size:1.5rem;
   text-align: center;
   color: #06204C;
 }

 .order {
   position: absolute;
   top: 35%;
   float: left;
   left: 20%;
 }
 .orderC{
  position: absolute;
   top: 35%;
   left: 40%; 
 }
 #colum{
 position: absolute;
   top: 39%;
   display: flex;
   left: 43%;
  }
 #type {
   position: absolute;
   top: 39%;
   display: flex;
   left: 23%;
 }

 .az {
   position: absolute;
   top: 35%;
   float: right;
   right: 20%;
 }

 #alfabet {
   position: absolute;
   top: 39%;
   display: flex;
   right: 23%;
 }
 /*Media Queries 699PX a 900PX*/
 @media screen and (min-width:700px) and (max-width:960px) and (min-device-height: 500px) and (max-device-height:900px) {
   .initial {
     width: auto;
   }

   .welcome {
     font-size: 3rem;
     left: 25%;
   }

   .menuhome {
     margin-left: auto;
     margin-top: 1.7em;
     font-size: 0.9em;
     width: 10em;
     height: 3em;
   }

   .menuapp {
     margin-left: 0.5em;
     margin-top: 1.7em;
     font-size: 0.9em;
     width: 10em;
     height: 3em;
   }

   .menuj {
     margin-left: 1em;
     margin-top: 1.7em;
     font-size: 0.9em;
     width: 10em;
     height: 3em;
   }

   .description {
     top: 30%;
     left: 20%;
     right: 18%;
     font-size: 1.8em;
   }

   .pokeball {
     height: 7.5em;
     width: 7.5em;
     left: 40%;
   }

   .fund {
     object-fit: inherit;
   }
 }
 /* Media Queries pantalla 400PX a 699PX*/
 @media screen and (min-width:400px) and (max-width:700px) and (min-device-height:640px) and (max-device-height:1024px) {
   .initial {
     width: auto;
     height: 4em;
   }

   .welcome {
     font-size: 2em;
     left: 25%;
   }

   .logo {
     height: 3em;
     width: 6em;
     margin-top: 0.5em;
   }

   .menuhome {
     margin-left: auto;
     margin-top: 3em;
     font-size: 0.5em;
     width: 10em;
     height: 3em;
   }

   .menuapp {
     margin-left: 0.1em;
     margin-top: 3em;
     font-size: 0.5em;
     width: 10em;
     height: 3em;
   }

   .menuj {
     margin-left: 0.5em;
     margin-top: 3em;
     font-size: 0.5em;
     width: 10em;
     height: 3em;
   }

   .description {
     top: 25%;
     left: 18%;
     right: 15%;
     font-size: 1.5em;
   }

   .pokeball {
     height: 7em;
     width: 7em;
     left: 35%;

   }

   .fund {
     object-fit: inherit;
   }
 }

 /* Media Queries pantalla 250PX a 399PX*/
 @media screen and (min-width:250px) and (max-width:399px) and (min-device-height: 360px) and (max-device-height:750px) {
   .initial {
     width: auto;
     height: 4em;
   }

   .welcome {
     font-size:auto;
     left: 20%;
   }

   .logo {
     height: 3em;
     width: 5em;
     margin-top: 0.5em;
   }

   .menuhome {
     margin-left: auto;
     margin-top: 3em;
     font-size: 0.5em;
     width: 10em;
     height: 3em;
   }

   .menuapp {
     margin-left: 0.1em;
     margin-top: 3em;
     font-size: 0.5em;
     width: 10em;
     height: 3em;
   }

   .menuj {
     margin-left: 0.5em;
     margin-top: 3em;
     font-size: 0.5em;
     width: 10em;
     height: 3em;
   }

   .description {
     top: 30%;
     left: 18%;
     right: 15%;
     margin-bottom: 30%;
     font-size: 1.3em;
   }

   .pokeball {
     height: 6em;
     width: 6em;
     left: 35%;
   }

   .fund {
     object-fit: inherit;
   }
 }
